html,body{
    height:100%;
}

body{
    display:flex;
    flex-direction:column;
    min-height:100vh;
    background:#f5f7fb;
    font-family:'Segoe UI',sans-serif;
}

/* Main content grows */
.container{
    flex:1;
}

/* Navbar */

.custom-navbar{
    background:linear-gradient(
            135deg,
            #020617,
            #0f172a,
            #1e3a8a);
    padding:15px 0;
    box-shadow:0 3px 10px rgba(0,0,0,0.2);
}

.navbar-brand{
    font-size:24px;
    font-weight:bold;
}

.nav-link{
    color:white !important;
    margin-left:15px;
    transition:.3s;
}

.nav-link:hover{
    color:#38bdf8 !important;
}

/* Cards */

.custom-card{
    border:none;
    border-radius:20px;
    background:white;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
    padding:30px;
}

/* Hero Section */

.hero-section{
    text-align:center;
    background:white;
    padding:80px 40px;
    border-radius:25px;
    margin-top:30px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.hero-section h1{
    font-size:60px;
    font-weight:700;
}

.hero-section p{
    font-size:22px;
    color:#666;
}

/* Buttons */

.btn-custom{
    background:#2563eb;
    color:white;
    border:none;
    border-radius:10px;
}

.btn-custom:hover{
    background:#1d4ed8;
    color:white;
}

/* Footer */

.footer{
    margin-top:auto;
    background:linear-gradient(
            135deg,
            #020617,
            #0f172a);
    color:white;
    padding:40px 0;
}